body{
    background: rgb(67, 7, 65);
    font: normal 15pt Arial;
}
header{
    color: rgb(255, 255, 255);
    text-align: center;
}
section{
    background: rgb(61, 31, 166); 
    border-radius: 10px; 
    padding: 5px;
    width: 500px; 
    margin: auto;
    box-shadow: 5px 5px 10px rgba(56, 8, 118, 0.336);
}
footer{
    font-style: italic;
}